* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


.navbar-title {
  font-size: 30px;
  &:hover {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.navbar-display-name {
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.add-photo-button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.delete-photo-button {
  margin-top: 5px;
}


/* ---- .grid-item ---- */

.grid-item {
  width: 33.333%;
  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.grid-item {
  float: left;
  border: 2px solid gray;
  border-radius: 10px;

}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
